Repository pardhuparimi/vyeya: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/server && pnpm lint:fix, cd packages/server && pnpm type-check

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "packages/server/src/**/*.{js,ts}": [
    "cd packages/server && pnpm lint:fix",
    "cd packages/server && pnpm type-check"
  ]
}

fix: resolve ESLint warnings properly without disabling rules
  .husky/pre-commit
  packages/server/package.json
  packages/server/src/__tests__/database.config.test.ts
  packages/server/src/__tests__/health.test.ts
  packages/server/src/__tests__/middleware.authenticateToken.test.ts
Due: eslint --fix, prettier --write, cd packages/server && pnpm lint:fix, cd packages/server && pnpm type-check

Fix CI pipeline Mobile E2E stage and remove redundant workflows
  .github/workflows/develop-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/mobile-e2e.yml
  scripts/ci-e2e-tests.sh
  scripts/setup-e2e-data.sh
Due: prettier --write

Improve CI cleanup strategy - cleanup after each stage
  .github/workflows/develop-ci.yml
Due: prettier --write

Fix CI pipeline and refactor E2E script for mobile-only testing
  .github/workflows/develop-ci.yml
  packages/server/jest.config.js
  packages/server/jest.setup.js
  scripts/ci-e2e-tests.sh
  scripts/setup-e2e-data.sh
Due: eslint --fix, prettier --write

fix(ci): Fix NODE_ENV in ci-e2e-tests.sh - use 'ci' instead of 'test' for server startup
  scripts/ci-e2e-tests.sh
Due: none

fix(ci): Use tsx directly instead of building for Mobile E2E Tests
  .github/workflows/develop-ci.yml
  scripts/e2e-automation.sh
Due: prettier --write

fix(ci): Fix database readiness check in setup-e2e-data.sh for GitHub Actions
  scripts/setup-e2e-data.sh
Due: none

fix(ci): Fix relative path issues in ci-e2e-tests.sh for CI environment
  scripts/ci-e2e-tests.sh
Due: none

fix(android): Add Gradle wrapper files for CI/CD compatibility
  .gitignore
  packages/app/android/gradle/wrapper/gradle-wrapper.jar
  packages/app/android/gradlew
  packages/app/android/gradlew.bat
Due: none

fix(android): Add launcher icons for Android build
  .gitignore
  packages/app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/app/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  packages/app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/app/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  packages/app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  packages/app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  packages/app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

feat: implement modern CI/CD pipeline with main-branch strategy
  .github/workflows/main-ci-cd.yml
  ANDROID_KEYSTORE_FIX.md
  MIGRATION_GUIDE.md
  MODERN_CI_CD_STRATEGY.md
  package.json
  packages/app/android/app/build.gradle
  packages/app/fastlane/Fastfile
  scripts/ci-e2e-tests.sh
  scripts/setup-android-keystore.sh
  scripts/setup-branch-protection.sh
Due: prettier --write

feat: complete CI/CD setup with branch protection and secrets guide
  GITHUB_SECRETS_SETUP.md
  scripts/setup-branch-protection.sh
Due: prettier --write

fix: resolve stores routes test failure
  packages/server/src/__tests__/stores.routes.test.ts
Due: eslint --fix, prettier --write, cd packages/server && pnpm lint:fix, cd packages/server && pnpm type-check

🚨 Fix critical pipeline issues
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/test-ci.yml
  PIPELINE_OPTIMIZATION_SUMMARY.md
Due: prettier --write

🔧 Fix pnpm installation in CI composite action
  .github/actions/setup-node-pnpm/action.yml
Due: prettier --write

fix: clean up lint warnings in React Native components
  .github/workflows/main-ci-cd.yml
  package.json
  packages/app/.eslintrc.js
  packages/app/App.tsx
  packages/app/package.json
  packages/app/src/context/AuthContext.tsx
  packages/app/src/screens/AddProductScreen.tsx
  packages/app/src/screens/AuthScreen.tsx
  packages/app/src/screens/BrowseScreen.tsx
  packages/app/src/screens/CartScreen.tsx
  packages/app/src/screens/SearchScreen.tsx
  packages/app/src/screens/SellerDashboardScreen.tsx
  packages/app/src/services/auth.service.ts
Due: eslint --fix, prettier --write

feat: add Maestro E2E testing to development CI pipeline
  .github/workflows/test-ci.yml
Due: prettier --write

fix: resolve Maestro CI pipeline issues
  .github/actions/setup-android/action.yml
  .github/workflows/test-ci.yml
Due: prettier --write

fix: properly configure both iOS and Android Maestro E2E testing
  .github/workflows/test-ci.yml
Due: prettier --write

refactor: remove backend E2E stage and run mobile tests in parallel
  .github/workflows/test-ci.yml
  packages/app/src/navigation/TabNavigator.tsx
  packages/app/src/screens/AddProductScreen.tsx
  packages/app/src/screens/AuthScreen.tsx
Due: eslint --fix, prettier --write

🔧 Fix mobile build failures in CI pipeline
  .github/workflows/test-ci.yml
Due: prettier --write

🔧 Fix iOS simulator timeout command
  .github/workflows/test-ci.yml
Due: prettier --write
